@model Advanced_Ecommerce.Models.ViewModels.ProductsViewModel
@{
    ViewData["Title"] = "Products";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Products</h1>
<div class="container">
    @if (Model.Products.Any())
    {
        <div class="row">
            @foreach (var item in Model.Products)
            {
                <div class="col-md-4 mb-4">
                    <div class="card h-100">
                        <img src="data:image/*;base64,@(item.PreviewIage)" class="card-img-top" alt="product">
                        <div class="card-body">
                            <h5 class="card-title">@item.ShortDescription</h5>
                            <p class="card-text text-danger">@item.Price $</p>
                            <a style="width:100px" asp-controller="Products" asp-action="ProductPage" asp-route-id="@item.Id" class="btn btn-warning">View</a>
                        </div>
                    </div>
                </div>
            }
        </div>
    }
    else
    {
        <div class="row">
            <div class="col-12">
                <p>No products available!</p>
            </div>
        </div>
    }
</div>
